body{
    background-color: black;
    text-align: center;
}

img{
    width: 100%;
}

.perso{
    color: white;
    border: solid white 3px;
    height: 500px;
    -moz-transition: opacity 0.4s linear 0s;
    -webkit-transition: opacity 0.4s linear 0s;
    transition: opacity 0.4s linear 0s;
    opacity: 1;
    margin-bottom: 20px;
    overflow: hidden;
}

/*.perso:hover{
    -moz-transition: opacity 0.4s linear 0s;
    -webkit-transition: opacity 0.4s linear 0s;
    transition: opacity 0.4s linear 0s;
    opacity: 0.5;
}*/

.textPerso{
    position: absolute;
    width: 100%;
    left: 0px;
}

.btnSuppr{
    position: absolute;
    background-color: red;
    bottom: 0px;
    left: 0px;
}

.imgPerso{
    position: absolute;
    width: 100%;
    left: 0px;
}

.btnAdd{
    position: absolute;
    top: 40%;
    left: 42%;
}